@media print {
    .screen_only{
        display: none;
    }
}
    body{
        background-color:  rgb(124, 124, 124);
    }
    h2{
        color:darkturquoise;
    }
    p{
        color: blanchedalmond;
    }
    ul{
        top:0;
        margin:0;
        padding:0;
        width:100%;
        list-style-type: none;
        position:fixed;
        background-color:black
    }
    li{
        display:inline;
        font-size:50%;
        padding:2%;
        
    }
    a:link{
        color:aquamarine;
        text-decoration:none
    }
    a:visited{
        color:gold
    }
    a:hover{
        color:lightyellow
    }
    a:active{
        color:navajowhite
    }
    
    img.center{
        display:block;
        margin-left: auto;
        margin-right: auto;
        width: auto;
    }
    
    .box_table>table{
        border-width: 2px;
        border-style: outset;
        border-color: aquamarine;
    
    }
    .box_table>table th, .box_table>table td{
        border-width: 1px;
        border-style: solid;
        border-color: aquamarine;
    }
    .box_table>table tr{
        border-width: 1px;
        border-style: solid;
    }
    .box_table>table tr:hover{
        background-color: cornsilk;
    }
    .styling{
        text-align: center;
     }
    .youtube iframe{
        height:10%;
        width: 25%;
    }
    form.styles{
        input[type=text]{
            background-color: grey;
            color: coral;
        }
        input[type=submit]{
            border-style: inset;
            border-color: coral;
            border-width: 2px;
            background-color: coral;
        }
    }
    #headerpart1{
        color:aquamarine; 
        font-family: 'Times New Roman', Times, serif; 
        font: size 20%
    }
    #gif{
        height: 30%
    }
    
    

