/*tag selector*/
h2{
    color:darkturquoise;
    text-align:center
}
a:link{
    color:aquamarine
}
a:visited{
    color:coral
}
a:hover{
    color:darksalmon
}
a:active{
    color:lightgreen
}
img.center{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}
video{
    width:20%;
    height:auto
}
/*id selector*/
#headerpart1{
    color:aquamarine; 
    font-family: 'Times New Roman', Times, serif; 
    font-size:300%
}
#headerpart2{
    color: floralwhite; 
    font-family: 'Times New Roman', Times, serif; 
    font-size: 300%
}
/*class selector*/
p.styling{
    color:white;
    text-align:center
}