body{
    text-align: center;
    cursor:url("cursor.png"), auto;
    background-color:antiquewhite;
}
input[type=submit]{
        border-style: inset;
        border-color: rgb(179, 110, 163);
        border-width: 2px;
        background-color:  rgb(179, 110, 163);
    }
li.low-priority{
    background-color: forestgreen;
}
li.med-priority{
    background-color: darkgoldenrod;
}
li.high-priority{
    background-color: crimson;
}
